<div class="headercontainer">
  <div class="header">
    <div class="rankedladderimg">
      <a href="/ranked">
        <img class="ranked" src="https://www.flaticon.com/svg/static/icons/svg/3234/3234473.svg" alt="">
      </a>
    </div>
    <div class="logocontainer">
      <div class="logo">
        <a href="/">
          <img class="logo" src="https://www.flaticon.com/svg/static/icons/svg/98/98076.svg" alt="">
        </a>
      </div>
    </div>
    <div class="newdrawingimg">
      <a href="/canvas">
        <img class="canvaslogo" src="https://www.flaticon.com/svg/static/icons/svg/481/481874.svg" alt="">
      </a>
    </div>
    {{#if not_logged_in}}
    <div class="profilelogin">
      <a class="header_login" href="/profile">Login</a>
    </div>
    {{else}}
    <div class="profileiconimg">
      <a href="/profile">
        <img class="profileicon" src="https://www.flaticon.com/svg/static/icons/svg/860/860784.svg" alt="">
      </a>
    </div>
    {{/if}}
  </div>
</div>
