#canvas {
    border: 2px solid #E8A435;
}

.canvas_wrapper{
  display: flex;
  height: 38em;
  margin-left: 2em;
  margin-top: 1em;
  margin-right: 2em;
}

.canvas_tools{
  flex-basis: 10%;
  margin-right: 2em;
  margin-top: 2em;
  text-align: center;
}

#canvas_area{
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

#upload, #clear, #pencil, #color, #size, #eraser{
  width: 100%;
  margin-bottom: 1em;
}

#upload{
  background-color: #E8A435;
  color: #855103;
  height: 2em;
  width: 100%;
  border-style: none;
  border: 2px solid #855103;
  box-shadow: 2px 3px #2a72b5;
  border-radius: 25px;
}

#pencil, #eraser, #brush, #clear{
  height: 4em;
  width:4em;
  padding: 1em;
}

#pencil:hover, #eraser:hover, #brush:hover, #clear:hover{
  cursor: pointer;
}
