body{
  margin: 0;
  background-color: #79acdb;
  background-image: url(/res/background.png);
  background-repeat: repeat;
}

div.headercontainer{
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0;
}

div.header{
  display: flex;
  flex-grow: 1;
  background-color: #145A9C;
}

div.rankedladderimg{
  flex-basis: 20%;
  height: 100%;
  margin-top: 0.5em;
}

img.ranked{
  height: 80%;
  width: 50%;
}

div.logocontainer{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}

div.logo{
  height: 100%;
  flex-basis: 17%;
  margin-top: 0.5em;
}

img.logo{
  height: 80%;
  width: 100%;
}

div.newdrawingimg{
  justify-content: flex-end;
  flex-basis: 10%;
  height: 100%;
  margin-top: 0.5em;
}

img.canvaslogo{
  height: 80%;
  width: 100%;
}

div.profileiconimg{
  justify-content: flex-end;
  flex-basis: 10%;
  height: 100%;
  margin-top: 0.5em;
}

div.profilelogin{
  justify-content: flex-end;
  flex-basis: 10%;
  height: 100%;
  margin-top: 1.4em;
}

img.profileicon{
  height: 80%;
  width: 100%;
}

.header_login{
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  margin-left: 1em;
  font-weight: 900;
  color: #E8A435;
}
