<script type="text/javascript" src="/js/canvas.js" defer></script>

<div class="canvas_wrapper">
  <div class="canvas_tools">
    <img src="https://www.flaticon.com/svg/static/icons/svg/598/598234.svg" id="pencil">
    <div class="">
      <img src="https://www.flaticon.com/svg/static/icons/svg/65/65645.svg" id="brush">
      <input type="range" id="size">
    </div>
    <img src="https://www.flaticon.com/svg/static/icons/svg/847/847579.svg" id="eraser">
    <input type="color" id="color">
    <button type="button" id='upload'>Post</button>
    <img src="https://www.flaticon.com/svg/static/icons/svg/3096/3096687.svg" id='clear' alt="">
  </div>
  <div id="canvas_area">
    <canvas id="canvas" width="500" height="500"></canvas>
  </div>
</div>
