<script type="text/javascript" src="/js/canvas.js" defer></script>

<div class="canvas_wrapper">
  <div class="canvas_tools">
    <button type="button" id='clear'>Clear</button>
  </div>
  <div id="canvas_area">
    <canvas id="canvas" width="500" height="500"></canvas>
  </div>
</div>
