<div class="profilecontainer">
  <div class="profile_image_container">
    <img class="profile_image" src="https://picsum.photos/200" alt="">
  </div>
  <div class="profile_stats_container">
    <div class="user_info_container">
      <p class="user_info">Username</p>
      <p class="user_info">Posts</p>
      <p class="user_info">Likes</p>
      <p class="user_info">Mashups</p>
      <button type="button" name="edit_account" id="edit_account">Edit Account</button>
    </div>
  </div>
  <div class="filler"></div>
  <div class="rank_container">
    <img class="rank_image" src="https://www.flaticon.com/svg/static/icons/svg/473/473430.svg" alt="">
    <p id="rank_name">Rank</p>
  </div>
</div>
