<div class="flex_container">
  <div class="register_container">
    <form class="register_form"  method="post">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="text" name="email" value="" placeholder="Email">
      <input type="text" name="password" value="" placeholder="Password">
      <input type="text" name="confirm_password" value="" placeholder="Confirm Password">
      <input type="submit" name="submit" value="Register">
    </form>
  </div>
</div>
