<form id="uploadform" method="POST" action="/upload" enctype="multipart/form-data">
  <input type="file" name="fileupload" value="" accept="image/jpeg, image/gif, image/x-png">
  <input type="submit" name="submit">
</form>
