<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/header.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/canvas.css" type="text/css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="/register.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/image_page.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>

    {{>header}}

    {{{body}}}

  </body>
</html>
